<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body onload="onLoad()">

            <table id="myTable">
                <tbody>
                <tr id="active">
                    <td class="hotjob"></td>
                    <td class="job-title"></td>
                    <td class="location"></td>
                    <td class="posted"></td>
                    <td class="benefits"></td>
                    <td class="url"></td>
                </tr>
                </tbody>
            </table>

<div class="demo"></div>

  <script type="text/javascript">
        /*
        function loadDoc() {
            var xhttp = new XMLHttpRequest();
            xhttp.onreadystatechange = function() {
                if (this.readyState == 4 && this.status == 200) {
                    document.getElementById("demo").innerHTML = this.responseText;
                }
            };
            xhttp.open("GET", "/profile?collum=position_title,position_benefit_name&row=5", true);
            xhttp.send();
        }
          */

        function loadDoc(id, col, row) {
            var xhttp = new XMLHttpRequest();
            xhttp.onreadystatechange = function() {
                if (this.readyState == 4 && this.status == 200) {
                    document.getElementsByClassName(id)[0].innerHTML = this.responseText;
                }
            };
            xhttp.open("GET", "/profile?collum="+col+"&row="+row, true);
            xhttp.send();
        }
          
          function onLoad() {

      	  	create();
          }
          

          function create(){
          	  var table = document.getElementById("myTable");
          	  var rows = table.rows;
          	  for (i = 1; i < 10; i++) {
          		  
          	  	var row = table.insertRow(i);  	
          	              
          	  	var cell0 = row.insertCell(0);
          	  	cell0.className = 'hotjob'+i;
          	  	var cell1 = row.insertCell(1);
          	  	cell1.className = 'job-title'+i;
          	  	var cell2 = row.insertCell(2);
          	  	cell2.className = 'location'+i;
          	  	var cell3 = row.insertCell(3);
          	  	cell3.className = 'posted'+i;
          	  	var cell4 = row.insertCell(4);
          	  	cell4.className = 'benefits'+i;
          	  	var cell5 = row.insertCell(5);
          	  	cell5.className = 'url'+i;    	  
          	  	
        	  	loadDoc("hotjob"+i,"position_title",i);
        	  	loadDoc("location"+i,"position_location_city_name",i);
        	  	loadDoc("posted"+i,"publication_start_date",i);
        	  	loadDoc("benefits"+i,"position_benefit_name",i);
          	  }
          	}
    </script>
    
    
	
</body>
</html>