<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body onload="loadDoc()">

<div id="demo"></div>

  <script type="text/javascript">
        
        function loadDoc() {
            var xhttp = new XMLHttpRequest();
            xhttp.onreadystatechange = function() {
                if (this.readyState == 4 && this.status == 200) {
                    document.getElementById("demo").innerHTML = this.responseText;
                }
            };
            xhttp.open("GET", "/profile?collum=position_title,position_benefit_name&row=5", true);
            xhttp.send();
        }
    </script>
</body>
</html>